<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.groupware.report.model.dao.ReportDao">

	<insert id="insertReport">
		insert into
			report
		values (
			'r-' || to_char(sysdate, 'yyyymmdd') || '-' || to_char(seq_report_no.nextval, 'fm000'),
			#{writer},
			#{title},
			#{explain},
			default,
			#{endDate},
			#{publicYn},
			#{deptYn}
		)
		
		<selectKey order="AFTER" resultType="string" keyProperty="no">
			select
				'r-' || to_char(sysdate, 'yyyymmdd') || '-' || to_char(seq_report_no.currval, 'fm000')
			from
				dual
		</selectKey>
	</insert>
</mapper>