<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.groupware.report.model.dao.ReportDao">

	<insert id="insertReport">
		insert into
			report
		values (
			'r-' || to_char(sysdate, 'yyyymmdd') || '-' || to_char(seq_report_no.nextval, 'fm000'),
			#{writer},
			#{title},
			#{explain},
			default,
			#{endDate},
			#{publicYn},
			#{deptYn}
		)
		
		<selectKey order="AFTER" resultType="string" keyProperty="no">
			select
				'r-' || to_char(sysdate, 'yyyymmdd') || '-' || to_char(seq_report_no.currval, 'fm000')
			from
				dual
		</selectKey>
	</insert>
	
	<select id="selectMyReportCheck" resultMap="reportCheckMap">
		select
			rm.*,
			r.title,
			r.writer,
			r.end_date,
			r.public_yn,
			r.dept_yn,
			(select dept_title from dept where dept_code = (select dept_code from emp where emp_id = r.writer)) dept_title,
			(select count(*) from reportMember group by report_no having report_no = rm.report_no) member_count,
			(select count(*) from reportMember where create_yn = 'N' group by report_no having report_no = rm.report_no) create_count
		from
			report r left join reportMember rm
				on r.no = rm.report_no
		where
			emp_id = #{loginMember}
		order by
			r.end_date
	</select>
	<resultMap type="reportCheck" id="reportCheckMap"></resultMap>
	
</mapper>