<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.groupware.report.model.dao.ReportDao">

	<insert id="insertReport">
		insert into
			report
		values (
			'r-' || to_char(sysdate, 'yyyymmdd') || '-' || to_char(seq_report_no.nextval, 'fm000'),
			#{writer},
			#{title},
			#{explain},
			default,
			#{endDate},
			#{publicYn},
			#{deptYn}
		)
		
		<selectKey order="AFTER" resultType="string" keyProperty="no">
			select
				'r-' || to_char(sysdate, 'yyyymmdd') || '-' || to_char(seq_report_no.currval, 'fm000')
			from
				dual
		</selectKey>
	</insert>
	
	<select id="selectMyReportCheck" resultMap="reportCheckMap">
		select
			*
		from
			view_reportCheck
		where
			emp_id = #{loginMember}
		order by
			end_date desc
	</select>
	<resultMap type="reportCheck" id="reportCheckMap"></resultMap>
	
	<insert id="insertReportDetail">
		insert into
			reportDetail
		values (
			seq_reportDetail_no.nextval,
			#{reportNo},
			#{empId},
			#{content},
			default
		)
		
		<selectKey order="AFTER" resultType="string" keyProperty="no">
			select
				seq_reportDetail_no.currval
			from
				dual
		</selectKey>
		
	</insert>
	
	
	<update id="updateReportDetail">
		update
			reportDetail
		set
			content = #{content}
		where
			no = #{no}
		
		<selectKey order="AFTER" resultType="string" keyProperty="reportNo">
			select
				report_no
			from
				reportDetail
			where
				no = #{no}
		</selectKey>
	</update>
	
	
	<insert id="insertReportComment">
		insert into
			reportComment
		values (
			seq_reportComment_no.nextval,
			#{detailNo},
			#{writer},
			#{content},
			default
		)
	</insert>
	
	
	<select id="selectAllReportComment" resultMap="reportCommentMap">
		select
			c.*,
			(select name from emp where emp_id = c.writer) writer_name,
			(select job_title from job where job_code = (select job_code from emp where emp_id = c.writer)) job_title,
			(select rename_filename from attachment where category = 'P' and pk_no = c.writer) profile_img
		from
			reportComment c
		where
			detail_no = #{detailNo}
		order by
			c.reg_date desc
	</select>
	<resultMap type="reportComment" id="reportCommentMap"></resultMap>
	
	
	<update id="updateReportComment">
		update 
			reportComment
		set
			content = #{content},
			reg_date = sysdate
		where
			no = #{no}
	</update>
	
	
	<select id="findByNoReportComment" resultMap="reportCommentMap">
		select
			c.*,
			(select name from emp where emp_id = c.writer) writer_name,
			(select job_title from job where job_code = (select job_code from emp where emp_id = c.writer)) job_title,
			(select rename_filename from attachment where category = 'P' and pk_no = c.writer) profile_img
		from
			reportComment c
		where
			no = #{no}
		order by
			c.reg_date desc
	</select>
	
	
	 <select id="findByMemberReportCheckList" resultType="report">
	 	select
	 		 r.* 
	 	from
	 		report r right join reportMember rm
	 			on r.no = rm.report_no
	 	where
	 		rm.emp_id = #{empId}
	 		and
	 		r.dept_yn = 'N'
	 	order by
	 		r.reg_date desc, r.end_date desc
	 </select>
	 
	 
	 <select id="findByReferenceReportCheckList" resultType="report">
	 	select
	 		r.*
	 	from
	 		report r right join reference re
	 			on r.no = re.reference_no
	 	where
	 		re.type = 'R'
	 		and
	 		(re.emp_id = #{empId}
	 		or
	 		re.dept_code = #{deptCode})
	 	order by
	 		r.reg_date desc, r.end_date desc
	 </select>
	 
	 
	 <select id="findByReportNoReference" resultType="emp">
	 	select
		    *
		from
		    emp
		where
		    dept_code in (select dept_code from view_reportReference where reference_no = #{no})
		    or
		    emp_id in (select emp_id from view_reportReference where reference_no = #{no})
		order by
			emp_id
	 </select>
	
	
	 <select id="selectMemberListCount" resultType="_int">
	 	select
	 		 count(*)
	 	from
	 		report r right join reportMember rm
	 			on r.no = rm.report_no
	 	where
	 		rm.emp_id = #{empId}
	 		and
	 		r.dept_yn = 'N'
	 	order by
	 		r.reg_date desc
	 </select>
	 
	 
	 <select id="selectReferListCount" resultType="_int">
	 	select
	 		count(*)
	 	from
	 		report r right join reference re
	 			on r.no = re.reference_no
	 	where
	 		re.type = 'R'
	 		and
	 		(re.emp_id = #{empId}
	 		or
	 		re.dept_code = #{deptCode})
	 	order by
	 		r.reg_date desc
	 </select>
	
</mapper>