.navigation {
    position: relative;
    height: 100%;
    width: 90px;
    background: #00b6c2;
    border-left: 0;
    overflow-x: hidden;
    transition: width 0.5s;
     -ms-overflow-style: none; /* 인터넷 익스플로러 */
  	scrollbar-width: none; /* 파이어폭스 */
}
.navigation::-webkit-scrollbar {
  display: none;
}
.navigation:hover {
    width: 200px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* padding-left: 5px; */
    padding-top: 150px;
    
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #00b6c2;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #00919b9f;
}

.navigation ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #00b6c2;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #00919b9f;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}
.navigation ul li a .icon i {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    font-weight: bold;
}

.app-dashboard {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .app-dashboard-body {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .app-dashboard-top-nav-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #2c3840;
    height: 55px;
    width: 100%;
    -webkit-flex: 0 0 55px;
        -ms-flex: 0 0 55px;
            flex: 0 0 55px;
  }
  
  .app-dashboard-top-nav-bar .menu-icon {
    vertical-align: text-bottom;
  }
  
  .app-dashboard-logo {
    color: #fefefe;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .app-dashboard-search-bar-container {
    position: relative;
  }
  
  .app-dashboard-search {
    background: #41525e;
    border: 0;
    margin-bottom: 0;
    color: #fefefe;
  }
  
  .app-dashboard-search:active, .app-dashboard-search:focus {
    background: #222b31;
  }
  
  .app-dashboard-search-icon {
    position: absolute;
    color: #fefefe;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .app-dashboard-top-bar-actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .app-dashboard-top-bar-actions button {
    margin-bottom: 0;
    margin-right: 2rem;
  }
  
  .app-dashboard-top-bar-actions button.hollow {
    border-color: #fefefe;
    color: #fefefe;
  }
  
  .app-dashboard-top-bar-actions button.hollow:hover {
    background: #fefefe;
    color: #1779ba;
  }
  
  .app-dashboard-top-bar-actions .fa-info-circle {
    color: #fefefe;
    font-size: 1.5rem;
  }
  
  .app-dashboard-sidebar {
    background-color: #fefefe;
    height: 100%;
    overflow-x: visible;
    overflow-y: auto;
    z-index: 1;
    transition: all 0.5s ease;
  }
  
  .app-dashboard-sidebar .app-dashboard-open-sidebar, .app-dashboard-sidebar .app-dashboard-close-sidebar {
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 1rem;
  }
  .app-dashboard-close-sidebar img{
  	width: 150px;
  	height: 100px;
  	margin-top: 50px;
  }
  
  .app-dashboard-sidebar .app-dashboard-sidebar-close-button {
    font-size: 14px;
  }
  
  .app-dashboard-sidebar .app-dashboard-sidebar-inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .app-dashboard-sidebar .app-dashboard-sidebar-inner .menu > li > a {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .app-dashboard-sidebar .fa.large {
    font-size: 1.5rem;
    width: 40px;
  }
  
  .reveal-for-medium .app-dashboard-open-sidebar {
    display: none;
  }
  
  .app-dashboard-sidebar-footer {
    background: rgba(42, 57, 79, 0.8);
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
    width: 100%;
  }
  
  .app-dashboard-open-sidebar {
    text-align: center;
  }
  
  .app-dashboard-body-content {
    transition: all 0.5s ease;
    overflow-y: auto;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding: 20px;
    background-color: #fefefe;
  }
  
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .app-dashboard.shrink-medium .app-dashboard-close-sidebar, .app-dashboard.shrink-medium .app-dashboard-sidebar-text {
      display: none;
    }
    .app-dashboard.shrink-medium .app-dashboard-open-sidebar {
      display: block;
    }
    .app-dashboard.shrink-medium .app-dashboard-sidebar {
      width: 80px;
    }
    .app-dashboard.shrink-medium .app-dashboard-sidebar .fa.large {
      width: auto;
    }
    .app-dashboard.shrink-medium .off-canvas-content {
      width: calc(100% - 80px);
    }
    .app-dashboard.shrink-medium .navigation {
      text-align: center;
    }
    .app-dashboard.shrink-medium .menu.vertical > li > a {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .app-dashboard.shrink-medium .menu li::after {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    .app-dashboard.shrink-medium .menu li a {
      padding: 0.75rem;
    }
    .app-dashboard.shrink-medium .menu li a svg {
      margin: 0;
    }
    .app-dashboard.shrink-medium .menu li a span {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    .app-dashboard.shrink-large .app-dashboard-close-sidebar, .app-dashboard.shrink-large .app-dashboard-sidebar-text {
      display: none;
    }
    .app-dashboard.shrink-large .app-dashboard-open-sidebar {
      display: block;
    }
    .app-dashboard.shrink-large .app-dashboard-sidebar {
      width: 80px;
    }
    .app-dashboard.shrink-large .app-dashboard-sidebar .fa.large {
      width: auto;
    }
    .app-dashboard.shrink-large .off-canvas-content {
      margin-left: 80px;
      width: calc(100% - 80px);
    }
    .app-dashboard.shrink-large .navigation {
      margin-top: 2rem;
      text-align: center;
    }
    .app-dashboard.shrink-large .menu.vertical > li > a {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .app-dashboard.shrink-large .menu li::after {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    .app-dashboard.shrink-large .menu li a {
      padding: 0.75rem;
    }
    .app-dashboard.shrink-large .menu li a svg {
      margin: 0;
    }
    .app-dashboard.shrink-large .menu li a span {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }
 
.sticky-topbar {
  width: 100%;
}



/* 태그 css */
button {
  border: solid 1px #bebebe;
  padding: 10px;
  border-radius: 30px;
}

button:hover {
  cursor: pointer;
}


/* a태그 사용 시 파란 글씨를 검정으로 바꾸는 css */
.container-a {
  color: #000;
}
.container-a:hover, .container-a:focus {
  color: #000;
}



/* font */
.font-small {
  font-size: small;
}

.font-medium {
  font-size: 14px;
}

.font-large {
  font-size: large;
}


/* header.jsp 메뉴 크기 지정 */
.nav-font-size {
	font-size: 16px;
}


/* 상단에 조그만한 img */
.my-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}



/* 상단에 조그만한 img랑 img 클릭 시 띄우는 창 */
.topbar-div {
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-start;
  align-items: center;
}

.topbar-div div {
  padding: 10px;
}

#home-my-menu-modal {
  width: 80px;
  position: absolute;
  display: none;
  text-align: center;
  border: solid 1px gray;
  border-radius: 10px;
  background-color: #fff;
  top: 40px;
  left: 40px;
  padding: 0px;
}

#home-my-menu-modal div {
  padding: 0px;
}

#home-my-menu-modal .my-menu-div:last-child .my-menu {
  border-bottom: none;
}

#my-menu-modal {
  width: 80px;
  position: absolute;
  display: none;
  text-align: center;
  border: solid 1px gray;
  border-radius: 10px;
  background-color: #fff;
  top: 40px;
  right: 40px;
  padding: 0px;
}

#my-menu-modal div {
  padding: 0px;
}

.my-menu {
  border: none;
  border-radius: 0;
  font-size: small;
  border-bottom: solid 1px lightgray;
}

#my-menu-modal .my-menu-div:last-child .my-menu {
  border-bottom: none;
}



/* home.jsp */
.home-content {
  display: flex;
  flex-direction: column;
}

.div-margin {
  margin: 10px;
}

.div-padding {
  padding: 20px;
}

/* home.jsp 본문에 왼쪽 */
#home-left {
  width: 250px;
  height: 610px;
  border: solid 1px darkgray;
  border-radius: 10px;
}

#home-left table {
  width: 100%;
  background-color: none;
  text-align: center;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* home.jsp 본문에 가운데 */
#home-center {
  width: 500px;
  height: 300px;
  border: solid 1px darkgray;
  border-radius: 10px;
}

/* home.jsp 본문에 오른쪽 */
#home-right-div {
  width: 300px;
  height: 611px;
  border: solid 1px darkgray;
  border-radius: 10px;
  padding-left: 0px;
  font-size: small;
}

/* home.jsp 본문에 왼쪽 첫 번째 div안에 table */
#home-my-tbl td {
  padding: 5px;
}

/* home.jsp 본문에 왼쪽 근태관리 div에 table 및 select */
#home-work-tbl td {
  padding: 5px;
}

.btn-tr {
  height: 50px;
}

.work-select {
  width: 100%;
  border-radius: 20px;
  text-align: center;
  margin: 0px;
}

.work-select option {
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border: none;
}

/* home.jsp 전사게시판과 메일함에 타이틀(?) */
.home-div {
  width: 100%;
  border-bottom: solid 1px lightgray;
  margin: 0;
}

.home-div button {
  width: 23%;
  border: none;
  border-radius: 0;
}

/* home.jsp 결재 대기 문서의 table */
#sign-tbl {
  width: 100%;
}



/* base */
.all-container {
  display: flex;
  width: 100%;
  height: auto;
}

.home-container {
  width: 100%;
  min-width: 800px;
  overflow-y: scroll;
  height: 100%;
  padding: 0px;
}

.container-title {
  padding: 20px 30px;
  font-size: large;
}

/* 왼쪽 추가 메뉴 */
.left-container {
  width: 250px;
  height: 100%;
  overflow-y: scroll;
  flex-shrink: 0;
  border-right: solid 2px #e3e3e3;
}

/* 스크롤 숨기기 */
.left-container::-webkit-scrollbar {
  display: none;
}
.left-container {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

/* 왼쪽 추가 메뉴 새로만들기 btn */
.container-btn {
  text-align: center;
}

.container-btn button {
  width: 75%;
  padding: 15px 0px;
  font-size: small;
  border-radius: 5px;
  border: solid 1px rgb(119, 119, 119);
}

/* 왼쪽 추가 메뉴 list */
.container-list {
  list-style: none;
  margin-top: 20px;
}

.container-detail {
  list-style: none;
}

.container-detail li {
  padding: 5px;
}

.accordion-box {
  width: 100%;
  height: auto;
  margin:  0 auto;
}

.accordion-box ul:hover {
  cursor: pointer;
}

p.title {
  width: 100%;
  color: #000;
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
}

.con {
  padding: 0 10px; 
  /* display: none; */
}

/* 상단 타이틀 */
.top-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
/*최근알림*/
.noti-type-span{
color:#4487bd;
}
.noti-time-span{
color:#787878;
fontsize : 10px;
}
.notification-list{
    width: 300px;
   	margin-left : 0px;
    height: 20%;
    display: flex;
    border-top: 1px solid #cbcbcbd9;;

}
.left-noti{
    width: 20%;
    display:flex;
    justify-content: center;
    padding-top :5px;
    
}
.right-noti{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:5px
}

/*최근알림*/



/* 홈 결재 대기 문서 */
#home-sign-tbl {
	width: 100%;
	text-align: center;
}

#home-sign-tbl th {
	font-weight: normal;
	font-size: medium;
}

#home-sign-tbl td {
	font-size: small;
}

.sign-h5:hover {
	cursor: pointer;
}

.home-sign-no {
	padding-top: 70px;
	color: gray;
}

.div-sign-all-tbl-tr .button {
	width: 55px;
	color: #fff;
	margin: 8px;
}


/* 홈 보고 문서 */
#home-bottom {
  width: 1090px;
  height: auto;
  min-height: 300px;
  border: solid 1px darkgray;
  border-radius: 10px;
  font-size: small;
}

#home-bottom h5:hover {
	cursor: pointer;
}

.home-bottom-div {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	/* margin-top: 30px; */
	
	margin-top: 35px;
    margin-left: 20px;
}

.home-bottom-title {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	color: gray;
	font-size: medium;
	padding-top: 80px;
}

#home-report {
  width: 300px;
  height: 390px;
  border: solid 1px darkgray;
  border-radius: 10px;
  padding-left: 0px;
  font-size: small;
}

#home-report h5:hover {
	cursor: pointer;
}

.home-report-div {
	width: 100%;
}


.div-report {
  width: 220px;
  display: block;
  border-radius: 10px;
  border: solid 1px lightgray;
  margin-bottom: 30px;
  margin-right: 20px;
}

.div-report:hover {
	cursor: pointer;
	transform: translate(0, -5px);
	transition-duration: .3s;
	box-shadow: 0 2px 5px lightgray;
}

.div-report:hover .div-report-btn {
	background-color: #00b6c2;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.div-report:hover .div-report-btn .report-btn {
	color: #fff;
}

.div-report-tbl {
  width: 100%;
  border-bottom: solid 1px lightgray;
}

.div-report-tbl table {
  width: 100%;
  table-layout: fixed;
  padding: 20px 0;
}

.div-report-tbl tr {
  width: 100%;
}

.div-report-tbl td {
  padding: 0 10px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.report-day {
  font-size: x-large;
}

.report-title {
 font-size: medium;
}

.div-report-btn {
  padding: 10px 0;
}

.report-btn {
  width: 100%;
  border: none;
  border-radius: 0;
}
