@charset "UTF-8";

/* reportHome.jsp */
/* 보고 홈의 진행중인 보고 */
.div-report-ing {
	display: flex;
}

.div-report {
  width: 250px;
  display: block;
  border-radius: 10px;
  border: solid 1px lightgray;
  margin-bottom: 30px;
  margin-right: 20px;
}

.div-report:hover {
	cursor: pointer;
	transform: translate(0, -5px);
	transition-duration: .3s;
	box-shadow: 0 2px 5px lightgray;
}

.div-report:hover .div-report-btn {
	background-color: #00b6c2;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.div-report:hover .div-report-btn .report-btn {
	color: #fff;
}

.div-report-tbl {
  width: 100%;
  border-bottom: solid 1px lightgray;
}

.div-report-tbl table {
  width: 100%;
  table-layout: fixed;
  padding: 20px 0;
}

.div-report-tbl tr {
  width: 100%;
}

.div-report-tbl td {
  padding: 0 10px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.report-day {
  font-size: x-large;
}

.report-title {
 font-size: medium;
}

.div-report-btn {
  padding: 10px 0;
}

.report-btn {
  width: 100%;
  border: none;
  border-radius: 0;
}

/* 보고 홈의 최근 생성된 보고 */
.report-list-tbl {
  width: 100%;
  padding: 0;
}

.report-list-tbl table {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
}

.report-list-tbl th, .report-list-tbl td {
  padding: 10px 0;
}

.report-list-tbl th, .report-list-tbl td {
  font-size: small;
  /* font-weight: normal; */
  text-align: center;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}

.report-tr:hover {
	cursor: pointer;
	/* box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1); */
	box-shadow: 0 0 5px #d7d7d7;
	background-color: #f8f8f8;
}


/* reportForm.jsp */
/* 보고자 제외 */
.div-report-no {
	padding: 0 30px;
	padding-bottom: 10px;
	border-bottom: solid 1px lightgray;
}

.div-report-no button {
	border-radius: 5px;
}

.report-no-modal {
	width: 300px;
}

.report-no-modal-title {
	margin-top: 20px;
	margin-bottom: 5px;
}

.report-no-modal-fieldset {
	margin-top: 0;
	margin-botton: 10px;
	padding: 5px 10px;
}

.report-no-modal-btn {
	text-align: right;
}

.report-no-modal-btn button {
	margin-left: 5px;
	border-radius: 5px;
}

.btn-close {
	border: none;
	padding: 5px;
}

/* 제외된 보고자 */
.div-exception-report {
	padding: 20px 30px;
	width: 100%;
}

.div-exception-report span {
	color: gray;
	font-size: small;
}

/* 미보고자 */
.div-unreport {
	padding: 20px 30px;
	background-color: #ffeaeb;
}

.div-unreport-title {
	margin-bottom: 5px;
	color: red;
	font-weight: bold;
}

.div-unreport-all {
	display: flex;
}

.div-unreport-one {
	width: 200px;
	display: flex;
	align-items: center;
	background-color: #fff;
	margin-right: 10px;
}

.div-unreport-one div {
	padding: 10px;
}

.div-unreport-one div:last-of-type {
	padding: 0;
}

.div-unreport-one img {
	border-radius: 0;
}

.div-me {
	border: solid 2px gray;
}

.div-unreport-non {
	margin-right: 10px;
}

.div-unreport-non span {
	margin: 10px;
	color: gray;
}

/* 보고자 */
.div-okreport {
	padding: 20px 30px;
}

.div-okreport-title {
	margin-bottom: 5px;
	color: gray;
	font-weight: bold;
}

.div-okreport-all {
	display: flex;
}

.div-okreport-one {
	width: 200px;
	display: flex;
	align-items: center;
	background-color: #fff;
	margin-right: 10px;
	border: solid 1px lightgray;
}

.div-okreport-one:hover {
	cursor: pointer;
}

.div-okreport-one-click {
	border: solid 2px #00b6c2;
}

.div-okreport-one div {
	padding: 10px;
}

.div-okreport-one div:last-of-type {
	padding: 0;
}

.div-okreport-one img {
	border-radius: 0;
}

.div-me {
	border: solid 2px gray;
}

/* 보고 작성 */
.div-report-write {
	margin: 10px;
	border: solid 3px lightgray;
}

.div-report-write-top {
	width: 100%;
	border-bottom: solid 1px lightgray;
	display: flex;
	align-items: center
}

.div-report-detail {
	width: 100%;
}

.div-report-detail-update {
	width: 100%;
}

.div-report-detail-update form {
	width: 100%;
}

.div-report-write-name {
	width: 50%;
}

.div-report-write-btn-group {
	width: 100%;
	text-align: right;
}

.div-report-write-btn-group button {
	font-size: small;
	border-radius: 5px;
}

.div-report-write-content textarea {
	resize: none;
}

.div-report-write-upload {
	display: flex;
	border-top: solid 1px lightgray;
	border-bottom: solid 1px lightgray;
}

.div-report-write-tbl {
	width: 100%;
}

.div-report-write-tbl td:first-of-type {
	vertical-align: top;
	width: 20%;
}

.div-report-write-tbl td:last-of-type {
	text-align: center;
	border: dashed 2px lightgray;
}

.div-report-write-file {
	width: 100%;
	height: 60px;
	vertical-align: middle;
}

.div-report-write-file-name {
	width: 100%;
	text-align: left;
	color: gray;
	font-size: small;
}

.div-report-write-file-name div {
	padding: 3px 5px;
}

.div-report-write-file-name input[type=button] {
	padding: 3px 5px;
	border: none;
	font-weight: bold;
	background-color: #fff;
}

.td-label {
	padding-top: 17px;
	height: 100%;
	font-size: small;
	color: gray;
}

.td-label:hover {
	cursor: pointer;
}

.div-report-write-file input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.div-report-write-btn {
	text-align: center;
	border-top: solid 1px lightgray;
}

.div-report-write-btn button {
	border-radius: 5px;
}

.div-report-write-attach {
	width: 100%;
}

.div-report-write-view {
	display: none;
	margin: 10px;
	border: solid 3px lightgray;
}

.write-name {
	padding: 0 5px;
	font-weight: bold;
	font-size: medium;
}

.write-date {
	font-size: small;
	color: gray;
	padding: 10px;
}

.attach-btn {
	font-size: small;
	color: gray;
	border: none;
}


/* 보고 댓글 */
.div-report-comment {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	padding: 20px;
	border-top: solid 1px lightgray;
}

.div-report-comment-all {
	width: 100%;
	display: flex;
	align-items: center
}

.div-report-comment-all div {
	margin-right: 5px;
	flex-shrink: 0;
}

.div-report-comment-all div:nth-of-type(2) {
	width: 80%;
	min-width: 500px;
}

.div-report-comment-all textarea {
	width: 100%;
	min-width: 500px;
	resize: none;
	margin: 0;
	min-height: 30px;
	padding: 0 5px;
}

.div-report-comment-detail {
	width: 100%;
	display: flex;
	padding: 20px 0;
	align-items: center
}

.div-report-comment-img {
	width: 30px;
    text-align: center;
}

.div-report-comment-contain {
	width: 100%;
}

.div-report-comment-title {
	width: 100%;
	padding: 5px 10px;
	font-size: small;
	display: flex;
}

.div-report-comment-title span:first-of-type {
	font-weight: bold;
}

.div-report-comment-title span:last-of-type {
	color: gray;
}

.div-report-comment-btn {
	width: 100%;
	text-align: right;
	display: none;
}

.div-report-comment-detail:hover .div-report-comment-btn {
	display: inline-block;
}

.div-report-comment-btn button {
	font-size: small;
	padding: 2px;
	border-radius: 0;
}

.div-report-comment-content {
	padding: 0 10px;
	font-size: small;
}


/* reportCreate.jsp */
.div-report-frm {
	width: 100%;
}

.div-report-frm table {
	width: 100%;
}

.div-report-frm td {
	padding-top: 10px;
	vertical-align: top;
}

.div-report-frm td:first-of-type {
	padding-top: 15px;
}

.div-report-frm textarea {
	resize: none;
	margin: 0;
}

.div-report-frm input {
	margin: 0;
}

.div-report-frm table tr:last-of-type {
	text-align: center;
}

.div-report-frm table tr:last-of-type button:first-of-type {
	background-color: #00b6c2;
	border: solid 1px #00b6c2;
	color: #fff;
}

.div-report-frm button {
	border-radius: 5px;
}

.div-choice {
	width: 100%;
	height: 35px;
	border: dotted 1px lightgray;
	display: none;
	margin: 5px 0;
}

.report-frm-div {
	display: inline-block;
}

.div-choice .add {
	border: none;
	color: gray;
}


/* 선택 모달 */
.div-emp-group {
	height: 330px;
}

.div-emp-group .accordion-box {
	height: 300px;
	overflow-y: scroll;
}

.div-modal-choice, .div-modal-dept {
	width: 100%;
	height: 100px;
	border-top: solid 1px lightgray;
	border-bottom: solid 1px lightgray;
	overflow-y: scroll;
}

.div-modal-choice-emp, .div-modal-choice-dept {
	display: inline-block;
	margin: 5px;
	font-size: small;
	padding: 5px;
	border-radius: 50px;
	border: solid 1px lightgray;
}

.div-modal-choice-emp:hover, .div-modal-choice-dept:hover {
	cursor: pointer;
}

.div-emp-tag {
	display: inline-block;
	font-size: small;
	padding: 5px;
	border-radius: 50px;
	border: solid 1px lightgray;
	color: gray;
}
