@charset "UTF-8";

/* reportHome.jsp */
/* 보고 홈의 진행중인 보고 */
.div-report-ing {
	display: flex;
}

.div-report {
  width: 250px;
  display: block;
  border-radius: 10px;
  border: solid 1px lightgray;
  margin-bottom: 30px;
  margin-right: 20px;
}

.div-report:hover {
	cursor: pointer;
}

.div-report-tbl {
  width: 100%;
  border-bottom: solid 1px lightgray;
}

.div-report-tbl table {
  width: 100%;
  table-layout: fixed;
  padding: 20px 0;
}

.div-report-tbl tr {
  width: 100%;
}

.div-report-tbl td {
  padding: 0 10px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.report-day {
  font-size: x-large;
}

.report-title {
 font-size: medium;
}

.div-report-btn {
  padding: 10px 0;
}

.report-btn {
  width: 100%;
  border: none;
  border-radius: 0;
}

/* 보고 홈의 최근 생성된 보고 */
.report-list-tbl {
  width: 100%;
  padding: 0;
}

.report-list-tbl table {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
}

.report-list-tbl th, .report-list-tbl td {
  padding: 10px 0;
}

.report-list-tbl th, .report-list-tbl td {
  font-size: small;
  /* font-weight: normal; */
  text-align: center;
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}


/* reportForm.jsp */
/* 보고자 제외 */
.div-report-no {
	padding: 0 30px;
	padding-bottom: 10px;
	border-bottom: solid 1px lightgray;
}

.div-report-no button {
	border-radius: 5px;
}

.report-no-modal {
	width: 300px;
}

.report-no-modal-title {
	margin-top: 20px;
	margin-bottom: 5px;
}

.report-no-modal-fieldset {
	margin-top: 0;
	margin-botton: 10px;
	padding: 5px 10px;
}

.report-no-modal-btn {
	text-align: right;
}

.report-no-modal-btn button {
	margin-left: 5px;
	border-radius: 5px;
}

.btn-close {
	border: none;
	padding: 5px;
}

/* 제외된 보고자 */
.div-exception-report {
	padding: 20px 30px;
	width: 100%;
}

.div-exception-report span {
	color: gray;
	font-size: small;
}

/* 미보고자 */
.div-unreport {
	padding: 20px 30px;
	background-color: #ffeaeb;
}

.div-unreport-title {
	margin-bottom: 5px;
	color: red;
	font-weight: bold;
}

.div-unreport-all {
	display: flex;
}

.div-unreport-one {
	width: 200px;
	display: flex;
	align-items: center;
	background-color: #fff;
	margin-right: 10px;
}

.div-unreport-one div {
	padding: 10px;
}

.div-unreport-one div:last-of-type {
	padding: 0;
}

.div-unreport-one img {
	border-radius: 0;
}

.div-me {
	border: solid 2px gray;
}

/* 보고 작성 */
.div-report-write {
	margin: 10px;
	border: solid 3px lightgray;
}

.div-report-write-name {
	border-bottom: solid 1px lightgray;
}

.div-report-write-content textarea {
	resize: none;
}

.div-report-write-btn {
	text-align: center;
	border-top: solid 1px lightgray;
}

.div-report-write-btn button {
	border-radius: 5px;
}

/* 보고 댓글 */
.div-report-commend {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	padding: 20px;
	border-top: solid 1px lightgray;
}

.div-report-commend-all {
	width: 100%;
	display: flex;
	align-items: baseline;
}

.div-report-commend-all div {
	margin: 0 5px;
	flex-shrink: 0;
}

.div-report-commend-all div:nth-of-type(2) {
	width: 85%;
}

.div-report-commend-all textarea {
	width: 100%;
	resize: none;
	margin: 0;
}


/* reportCreate.jsp */
.div-report-frm {
	width: 100%;
}

.div-report-frm table {
	width: 100%;
}

.div-report-frm td {
	padding-top: 10px;
	vertical-align: top;
}

.div-report-frm td:first-of-type {
	padding-top: 15px;
}

.div-report-frm textarea {
	resize: none;
	margin: 0;
}

.div-report-frm input {
	margin: 0;
}

.div-report-frm table tr:last-of-type {
	text-align: center;
}

.div-report-frm table tr:last-of-type button:first-of-type {
	background-color: #00b6c2;
	border: solid 1px #00b6c2;
	color: #fff;
}

.div-report-frm button {
	border-radius: 5px;
}

.div-choice {
	width: 100%;
	height: 35px;
	border: dotted 1px lightgray;
	display: none;
	margin: 5px 0;
}

.report-frm-div {
	display: inline-block;
}

.div-choice .add {
	border: none;
	color: gray;
}


/* 선택 모달 */
.div-emp-group {
	height: 330px;
}

.div-emp-group .accordion-box {
	height: 300px;
	overflow-y: scroll;
}

.div-modal-choice, .div-modal-dept {
	width: 100%;
	height: 100px;
	border-top: solid 1px lightgray;
	border-bottom: solid 1px lightgray;
	overflow-y: scroll;
}

.div-modal-choice-emp, .div-modal-choice-dept {
	display: inline-block;
	margin: 5px;
	font-size: small;
	padding: 5px;
	border-radius: 50px;
	border: solid 1px lightgray;
}

.div-modal-choice-emp:hover, .div-modal-choice-dept:hover {
	cursor: pointer;
}

.div-emp-tag {
	display: inline-block;
	font-size: small;
	padding: 5px;
	border-radius: 50px;
	border: solid 1px lightgray;
	color: gray;
}
