@charset "UTF-8";

/* signHome.jsp */
/* 결재할 문서 */
.div-sign-tobe {
	width: 100%;
	padding: 20px 30px;
	border-top: solid 1px lightgray;
	border-bottom: solid 1px lightgray;
}

.div-sign-tobe-non {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	vertical-align: middle;
	color: gray;
}

.div-sign-tobe-ok {
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 10px;
	display: flex;
	margin: 10px 0;
}

.div-sign-tobe-tbl {
	width: 85%;
	padding: 15px;
}

.div-sign-tobe-ok-tbl {
	width: 100%;
}

.div-sign-tobe-ok-tbl td {
	padding: 5px 0;
}

.div-sign-tobe-ok-tbl thead button {
	margin: 0;
	border-radius: 3px;
	padding: 5px;
}

.div-sign-tobe-ok-tbl thead .success {
	color: #fff;
	background-color: rgb(140, 202, 153)
}

.div-sign-tobe-ok-tbl thead .warning {
	color: #fff;
}

.div-sign-tobe-ok-tbl tbody tr:first-of-type td {
	font-weight: bold;
}

.div-sign-tobe-ok-tbl tbody tr:nth-of-type(2) td {
	color: gray;
}

.div-sign-tobe-div {
	width: 15%;
	font-weight: bold;
	font-size: small;
	text-align: center;
	padding: 55px 0;
	border-left: 1px solid lightgray;
}

.div-sign-tobe-ok:hover {
	cursor: pointer;
	transform: translate(0, -3px);
	transition-duration: .2s;
	box-shadow: 0px 2px 5px lightgray;
}

.div-sign-tobe-ok:hover .div-sign-tobe-div {
	background-color: #00b6c2;
	color: #fff;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}


/* 기안 진행 문서 */
.div-sign-all {
	width: 100%;
	min-height: 200px;
}

.div-sign-all-title {
	padding: 30px 30px 20px 30px;
	font-size: large;
}

.div-sign-all-tbl {
	width: 100%;
}

.div-sign-all-tbl table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.div-sign-all-tbl thead td {
	font-size: small;
	padding: 10px 0;
	font-weight: bold;
	border-top: solid 1px lightgray;
	border-bottom: solid 1px lightgray;
}

.div-sign-all-tbl tbody td {
	font-size: small;
	padding: 10px 0;
	border-top: solid 1px lightgray;
	border-bottom: solid 1px lightgray;
}

.div-sign-all-tbl tbody td button {
	margin: 0;
	padding: 5px 8px;
}

.div-sign-all-tbl tbody td:last-of-type button {
	color: #fff;
}

.div-sign-all-tbl-tr:hover {
	cursor: pointer;
	box-shadow: 0 0 5px #d7d7d7;
	background-color: #f8f8f8;
}
