@charset "UTF-8";

.navigation ul li a .icon i {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
    margin-top: 20px;
}

body {
	background-color: #a1e0fa59;
}

.list-group-flush li {
	background-color: #e1f6ff59;
}

.time {
	font-size: 11px;
	color: #999;
}

.img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.name {
	position: absolute;
	font-size: 10px;
	transform: translate(38px, -21px);
}

.list-group-item {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid rgb(255 255 255/ 0%);
	height: 73px;
}

.msg {
	background-color: white;
	border-radius: 12px;
	padding: 4px;
	font-size: 12px;
	margin-right: 7px;
	margin-top: 24px;
}

.list-group-item.myli {
	display: flex;
	flex-direction: row-reverse;
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid rgb(255 255 255/ 0%);
    height: 50px;
    background-color: #e1f6ff59;
}

.name1 {
	position: absolute;
	font-size: 10px;
	transform: translate(-38px, -21px);
}

.msg2 {
	background-color: white;
	border-radius: 12px;
	padding: 4px;
	font-size: 12px;
	margin-left: 7px;
	margin-top: 24px;
}
.msg3{
	background-color: #fff204;
	
}
