<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.groupware.dayOff.model.dao.DayOffDao">

	<insert id="insertDayOff">
		insert into
			dayoff
		values (
			seq_dayoff_no.nextval, 
			#{formNo},
			#{empId}, 
			#{dayOffYear}, 
			#{startDate}, 
			#{endDate}, 
			#{count}, 
			#{leaveCount},
			TO_TIMESTAMP_TZ(TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS') AT TIME ZONE 'Asia/Seoul'
		)
	</insert>
</mapper>