<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.groupware.workingManagement.model.dao.WorkingManagementDao">
	<insert id="insertStartWork">
		insert into 
			working_management 
		values(
			seq_working_management_no.nextval,
			default,
			null,
			null,
			default,
			'업무중',
			0,
			#{empId}
			)
	</insert>
	
	<update id="updateDayWorkTime">
		update
			working_management
		set
			day_work_time = #{daytime}
		where
			emp_id = #{empId}
			and TRUNC(reg_date) = TO_DATE(#{time})
	</update>
</mapper>