<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.groupware.emp.model.dao.EmpDao">
	<select id="selectOneEmp" resultMap="empMap">
		select
			*
		from
			emp
		where
			emp_id = #{memberId}
	</select>
	
	<select id="selectEmpDetail" resultMap="empDetailMap">
		select
			e.*,
			(select job_title from job where job_code = e.job_code) job_title,
			(select base_day_off from job where job_code = e.job_code) base_day_off,
			(select dept_title from dept where dept_code = e.dept_code) dept_title
		from
			emp e
		where
			emp_id = #{empId}
	</select>
	
	
	<insert id="insertEmp">
		insert into
			emp
		values(
			'emp' || to_char(seq_emp_id_no.nextval, 'fm000'),
			#{password},
			#{name},
			#{ssn},
			#{address},
			'emp' || to_char(seq_emp_id_no.nextval, 'fm000') || '@gmail.com',
			#{phone},
			default,
			null,
			default,
			#{jobCode},
			#{deptCode}
		)
	<selectKey order="AFTER" resultType="string" keyProperty="empId">
			select 
				'emp' || to_char(seq_emp_id_no.currval, 'fm000')
			from
				dual
		</selectKey>
	</insert>
	<resultMap type="emp" id="empMap"></resultMap>
	
	<select id="selectAllEmpList" resultMap="empDetailMap">
		select
			e.*,
			(select job_title from job where job_code = e.job_code) job_title,
			(select base_day_off from job where job_code = e.job_code) base_day_off,
			(select dept_title from dept where dept_code = e.dept_code) dept_title
		from
			emp e
	</select>
	<select  id="selectAllEmpAddTitleDept" resultMap="empDetailMap">
		select 
			e.*,
    		j.job_title,
    		d.dept_title 
		from 
		     emp e join job j
		    	 on e.job_code = j.job_code 
		     join dept d
		    	 on e.dept_code = d.dept_code
	</select>
	<select id="selectEmpDeptList" resultMap="empDetailMap">
		select 
		    emp_id,name,
		    (select job_title from job where e.job_code = job_code) job_title,
		    (select dept_title from dept where e.dept_code = dept_code) dept_title,
		    (select rename_filename from attachment where pk_no = e.emp_id) renameFilename
		from 
		    emp e
		where
		    quit_yn = 'N'
    		and dept_code = #{deptCode}
    	order by
    		job_code
	</select>
	
	<select id="findByMyDeptCodeManagerEmpList" resultMap="empMap">
		select
			*
		from
			emp
		where
			dept_code = #{deptCode}
			and
			job_code in
			<foreach collection="jobCode" item="code" index="index" open="(" close=")" separator=",">
				#{code}
			</foreach>
	</select>
	
	<select id="selectEmpAll" resultMap="empDetailMap">
		select 
		    e.*,
		    (select job_title from job where e.job_code = job_code) job_title,
		    (select dept_title from dept where e.dept_code = dept_code) dept_title,
		    (select rename_filename from attachment where pk_no = e.emp_id) renameFilename
		from 
		    emp e
		where
		    quit_yn = 'N'
		order by
			e.dept_code,e.job_code		
	</select>
	
	<select id="empFinderList" resultMap="empDetailMap">
		select 
		    e.*,
		    j.job_title,
		    d.dept_title,
		    (select rename_filename from attachment where pk_no = e.emp_id) renameFilename
		from 
		    emp e join dept d
		    on e.dept_code = d.dept_code
		    join job j
		    on e.job_code = j.job_code
		where
		    quit_yn = 'N'
		    <if test="searchType == 'dept_title'">
			    and
				d.dept_title like '%' || #{searchKeyword} ||'%'
		    </if>
		    <if test="searchType == 'job_title'">
			    and
				j.job_title like '%' || #{searchKeyword} ||'%'
		    </if>
		    <if test="searchType == 'name'">
			    and
				e.name like '%' || #{searchKeyword} ||'%'
		    </if>
		order by
			e.dept_code,e.job_code		
	</select>
	
	<select id="selectEmpCountDept" resultType="_int">
		select 
		    count(*)
		from 
		    emp e join dept d
		    on e.dept_code = d.dept_code
		    join job j
		    on e.job_code = j.job_code
		where
		    quit_yn = 'N'
		    <if test="searchType == 'dept_title'">
			    and
				d.dept_title like '%' || #{searchKeyword} ||'%'
		    </if>
		    <if test="searchType == 'job_title'">
			    and
				j.job_title like '%' || #{searchKeyword} ||'%'
		    </if>
		    <if test="searchType == 'name'">
			    and
				e.name like '%' || #{searchKeyword} ||'%'
		    </if>
		    <if test="deptCode != null">
		    	and
		    	e.dept_code = #{deptCode}
		    </if>		    		
	</select>
	
	<select id="empFinderDeptList" resultMap="empDetailMap">
		select 
		    e.*,
		    j.job_title,
		    d.dept_title,
		    (select rename_filename from attachment where pk_no = e.emp_id) renameFilename
		from 
		    emp e join dept d
		    on e.dept_code = d.dept_code
		    join job j
		    on e.job_code = j.job_code
		where
		    quit_yn = 'N'
		    <if test="searchType == 'dept_title'">
			    and
				d.dept_title like '%' || #{searchKeyword} ||'%'
		    </if>
		    <if test="searchType == 'job_title'">
			    and
				j.job_title like '%' || #{searchKeyword} ||'%'
		    </if>
		    <if test="searchType == 'name'">
			    and
				e.name like '%' || #{searchKeyword} ||'%'
		    </if>
		    <if test="deptCode != null">
		    	and
		    	e.dept_code = #{deptCode}
		    </if>		    
		order by
			e.dept_code,e.job_code	
	</select>
	
	
	<resultMap type="empDetail" id="empDetailMap"></resultMap>
</mapper>