<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.groupware.board.model.dao.BoardDao">

	<select id="selectBoardList" resultMap="boardMap">
		select 
		    b.*,
		    (select count(*) from attachment where no = b.no and category = 'B') attach_count
		from
		    board b left join emp e
		        on b.emp_id = e.emp_id
		where 
		    b.b_type = 'A'
		order by 
		    no desc
	</select>
	
	<select id="selectMenuBoardList" resultMap="boardMap">
		select 
		    b.*,
		    (select count(*) from attachment where no = b.no and category = 'B') attach_count
		from
		    board b left join emp e
		        on b.emp_id = e.emp_id
		where 
		    b.b_type = 'M'
		order by 
		    no desc
	</select>
	
	<select id="selectBoardCount"  resultType="int">
        select
        	count(*)
        from 
        	board
    </select>
    
    <select id="selectBoardByNo" resultMap="boardMap">
    	select
    		*
    	from
    		board
    	where
    		no = #{no}
    </select>
    
    
    <delete id="deleteBoard" >
    	delete from board
    	where no = #{no}
    </delete>
 
    <select id="selectBoardsByNos" resultMap="boardMap">
	    select *
	    from board
	    <if test="boardNos != null">
	        where no in
	        <foreach collection="boardNos" item="no" separator="," open="(" close=")">
	            #{no}
	        </foreach>
	    </if>
	</select>
	
	<delete id="deleteBoards" parameterType="List">
	    delete from board
	    <if test="list != null">
	        where no in 
	        <foreach collection="list" item="no" open="(" separator="," close=")">
	            #{no}
	        </foreach>
	    </if>
	</delete>
	    
	<resultMap type="board" id="boardMap"></resultMap>
	
	<insert id="insertBoard">
		insert into 
			board (no, b_type, title, content, READ_COUNT, LIKE_COUNT, CREATED_DATE, UPDATED_DATE, EMP_ID, WRITER)
		values (
			'bo'||to_char(seq_board_no.nextval,'fm000'),
			#{bType},
			#{title},
			#{content},
			default,
			default,
			default,
            null,
			#{empId},
			#{writer}
		)
		<selectKey order="AFTER" resultType="String" keyProperty="no">
			select 
				'bo'||to_char(seq_board_no.currval,'fm000')
			from
				dual
		</selectKey>
	</insert>
	
	<update id="updateReadCount">
		update
			board
		set
			read_Count = read_count + 1
		where
			no = #{no} 
	</update>
	
	<select id="selectBoardHome" resultMap="boardMap">
		select
			b.*,
			(select rename_filename from attachment where pk_no = b.emp_id) renameFilename
		from
			board b
		order by
			created_date desc
	</select>
	
<!-- 	<select id="selectNewsBoardList" resultMap="boardCollectionMap">
		SELECT 
		    b.*, 
		    a.*, 
		    a.no AS attach_no 
		FROM 
		    board b 
		    LEFT JOIN attachment a ON b.no = a.pk_no AND a.category = 'B' 
		WHERE 
		    b.b_type = 'N'
		order by
			b.no desc
	</select> -->
	
	<select id="selectPhotoBoard" resultMap="boardCollectionMap">
		SELECT 
		    b.*, 
		    a.*, 
		    a.no AS attach_no 
		FROM 
		    board b 
		    LEFT JOIN attachment a ON b.no = a.pk_no AND a.category = 'B' 
		WHERE 
		    b.b_type = 'P'
		order by
			b.no desc
	</select>
	
	
	<insert id="insertAttachment">
		insert into 
			attachment
		values (
			seq_attachment_no.nextval, 
			#{originalFilename}, 
			#{renameFilename},
			default,
			'B',
			#{pkNo}
		)
	</insert>
	
	<select id="selectOneBoardCollection" resultMap="boardCollectionMap">
		SELECT 
		    b.*, 
		    a.*, 
		    a.no AS attach_no,
		    (select rename_filename from attachment where pk_no = b.emp_id) renameFilename
		FROM 
		    board b 
		    LEFT JOIN attachment a ON b.no = a.pk_no AND a.category = 'B' 
		WHERE 
		    b.no = #{no}
	</select>
	<!-- collection, association태그 사용시에는 id/result태그를 생략할 수 없다. -->
	<resultMap type="board" id="boardCollectionMap">
		<id column="no" property="no"/>
		<result column="b_type" property="bType"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="read_count" property="readCount"/>
		<result column="like_count" property="likeCount"/>
		<result column="created_date" property="createdDate"/>
		<result column="updated_date" property="updatedDate"/>
		<result column="emp_id" property="empId"/>
		<result column="writer" property="writer"/>
		<association property="emp" javaType="emp">
			<id column="emp_id" property="empId"/>
			<result column="name" property="name"/>
		</association>
		<collection property="attachments" ofType="attachment">
			<id column="attach_no" property="no"/>
			<result column="original_filename" property="originalFilename"/>
			<result column="rename_filename" property="renameFilename"/>
			<result column="reg_date" property="regDate"/>
			<result column="category" property="category"/>
			<result column="pk_no" property="pkNo"/>
		</collection>
	</resultMap>
	
	<select id="selectOneAttachment" resultMap="attachmentMap">
			select 
				*
			from
				attachment
			where
				no = #{no}
	</select>
	<resultMap type="attachment" id="attachmentMap"></resultMap>
	
	<update id="updateBoard">
		update
			board
		set 
			b_type = #{bType},
			title = #{title},
			content = #{content}, 
			UPDATED_DATE = TO_TIMESTAMP_TZ(TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS') AT TIME ZONE 'Asia/Seoul'
		where
			no = #{no}
	</update>
	
	<insert id="insertBoardComment">
		insert into
			boardComment
		values(
			seq_boardComment_no.nextval, 
			#{content}, 
			default,
			default,
			default,
			#{refCommentNo},
			#{empId},
			#{writer}
		)
	</insert>
	
	<select id="selectBoardComment" resultMap="boardCommentMap">
		select
			bc.*,
			(select rename_filename from attachment where pk_no = bc.emp_id) renameFilename
		from
			 boardComment bc
		where 
			 bc.board_no = #{no}
	</select>
	
	<select id="selectComment" resultMap="boardCommentMap">
		select
			bc.*
		from
			 boardComment bc
		where 
			 bc.board_no = #{no}
	</select>
	
	<resultMap type="boardComment" id="boardCommentMap"></resultMap>
	
	<update id="updateBoardComment">
		update 
			boardComment
		set
			content = #{content}
		where
			no = #{no}
			
	</update>
	
	<select id="selectBoardCommentByNo" resultMap="boardCommentMap">
		select
			*
		from
			boardComment
		where
			no = #{no}
	</select>
	
	<delete id="deleteBoardComment">
		delete from
			boardComment
		where
			no = #{no}
	</delete>
	
	<insert id="boardLikeUp">
		insert into
			 board_like
		values(
			seq_board_like_no.nextval,
		  	#{empId},
		   	#{boardNo},
		    'Y',
		    default)
	</insert>
	
	<update id="boardLikeDown">
		update board_like
			set like_yn = 'N'
		where emp_id = #{empId}
		  AND board_no = #{boardNo}
	</update>
	
	<select id="selectBoardLikeCount" resultType="int">
		select 
			count(*)
		from 
			board_like
		WHERE 
		board_no = #{board.no}
		  AND like_yn = 'Y'
	</select>
	
	<select id="selectBoardLikeCheck" resultType="Map">
		select 
		  case 
		    when sum(case when emp_id = #{empId} and like_yn = 'Y' then 1 else 0 end) > 0 then 'Y' 
		    else 'N' 
		  end as isLiked,
		  sum(case when like_yn = 'Y' then 1 else 0 end) as likeCount
		from 
			board_like
		where board_no = #{boardNo}
	</select>
	
	<select id="selectNewsBoardList" resultMap="boardCollectionMap">
		SELECT 
		    b.*, 
		    a.*, 
		    a.no AS attach_no 
		FROM 
		    board b 
		    LEFT JOIN attachment a ON b.no = a.pk_no AND a.category = 'B' 
		WHERE 
		    b.b_type = 'N'
		order by
			b.no desc
	</select>
	
	<select id="selectCommentListByBoardNo" resultMap="boardCommentMap">
		select
			*
		from
			boardComment
		where
			board_no = #{no}
		order by
			no desc
	</select>
	
	<select id="selectBoardCountByNo" resultType="int">
		select
			count(*)
		from 
			board_like where like_yn = 'Y' and board_no = #{boardNo}
	</select>
	
	<select id="selectCommentCount" resultType="int">
		select
			count(*)
		from
			boardComment
		where
			board_no = #{board.no}
	</select>
	
	<select id="selectBoardCommentCount" resultType="int">
		select
			count(*)
		from
			boardComment
		where
			board_no = #{board.no}
	</select>
	
	
	<select id="findByNoBoardList" resultMap="boardCollectionMap">
		SELECT 
		    b.*, 
		    a.*, 
		    a.no AS attach_no 
		FROM 
		    board b 
		    LEFT JOIN attachment a ON b.no = a.pk_no AND a.category = 'B' 
		WHERE 
		    b.b_type = #{no}
		order by
			b.no desc
	</select>
	
	
	<select id="selectBoardNoCount" resultType="_int">
		select 
		    count(*)
		from
		    board
		where 
		    b_type = #{no}
		order by 
		    no desc
	</select>
	
	
	<insert id="insertBoardType">
		insert into 
			boardType 
		values (
			seq_boardtype_no.nextval, 
			#{title}, 
			#{explain}, 
			#{category}, 
			#{commentYn}
		)
		
		<selectKey order="AFTER" resultType="string" keyProperty="no">
			select
				seq_boardtype_no.currval
			from
				dual
		</selectKey>
	</insert>

	<select id="selectHomeBoardList" resultMap = "boardMap">
		select 
		    b.*,
		    bt.title typeTitle,
		    (select rename_filename from attachment where pk_no = b.emp_id) renameFilename 
		from
		    board b join boardtype bt
		    on b.b_type = bt.no
		order by 
		    b.no desc
	</select>
</mapper>