.navigation ul li a .icon i {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
    margin-top: 20px;
}
.content {
	display: inline-block;
	padding: 15px;
	width:1000px;
}

.target-select select {
	width: 150px;
	height: 30px;
	font-size: 13px;
	color: black;
}
.write-table {
	width: 100%;
}
.write-table input {
	width: 870px;
}
.write-table span {
	font-size: 13px;
	color: gray;
}
.write-table th {
	display:block;
	width: 60px;
	vertical-align: top;
}
.write-table td {
	padding-left:60px;

}
.write-table input#title{
	height: 30px;
}
.write-table input#file{
	height: 70px;
}

.check-table td{
	padding: 10px;
}

.div-report-write-btn {
	text-align: center;
}

tbody {
	font-size: 13px;
}

.check-table th {
	width: 130px;
}

.div-report-write-btn input{
	width:70px;
	height:30px;
}

#write-btn{
	background-color:#00b6c2;
	border-radius:5px;
	border:0.5px solid lightgray;
	color:white;
	font-weight: bolder;
	margin:10px;
}
#cancel-btn{
	background-color:lightgray;
	border-radius:5px;
	border:0.5px solid lightgray;
	color:white;
	font-weight: bolder;
}