.content {
	display: inline-block;
	padding: 15px;
}

.target-select select {
	width: 150px;
}

.write-table input {
	width: 1240px;
}


.write-table td {
	padding-left:50px;
}

.check-table td{
	padding: 10px;
}

.div-report-write-btn {
	text-align: center;
}