.navigation ul li a .icon i {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
    margin-top: 20px;
}

.left-board ul {
	padding: 0px;
	margin: 0px;
}

.left-header {
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
	padding:10px;
}

.left-header a {
	padding: 10px;
	
}

.article-list {
	border-bottom:1px solid #ccc;
	list-style: none;
	padding: 15px;
}

.article-list span.title{
	display:block;
	padding:2px;
	color: #666;
	font-weight: 600;
	font-size: 17px;
}
.article-list span.article-content p{
	font-size: 13px;
	padding:3px;
	color: gray;
}
.article-list li {
   margin: -1px 0 0;
   padding: 16px 24px;
   border-bottom:1px solid #ccc;
   border-right:1px solid #ccc;
}

.resent-group ul, li {
	list-style: none;
}


.resent-group li {
	padding:5px;
}

.right-header {
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
	padding:10px;
}

.right-header a {
	padding: 10px;
}

.group-list {
	border: 1px solid #ccc;
	padding: 10px;
	border-top: none;
	width: 300px;
	padding-top:20px;
}

.content {
	display: flex;
}

.left-content {
	width: 100%;
}


.writer-info span.writer {
	font-size:14px;
	color: gray;
}
.writer-info span#createdDate {
	font-size:14px;
	color: gray;
}
.article-data:hover {
    background: #F6f6f6;
    cursor : pointer;
  }
  .article-wrap span.bType{
	font-size:13px;
	color: lightgray;
}

.group-list .group-list-title {
	font-size: 14px;
	color: black;
	font-weight: 600;
}

.group-list ul {
	padding: 10px;
}

.group-list ul li {
	font-size: 14px;
	color: gray;
	padding:5px;
	display:flex;
	justify-content: space-between;
}

.group-list ul li a{
	color: #333;
}