input.to-talk {
	height: 300px;
	width: 200px;	
}

.notice-wrap {
	position:relative;
	display: block;
}

.textarea-container {
  position: relative;
  width: 100%;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
}

.notification-options {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.notification-options label {
  margin-right: 10px;
  font-size: 14px;
}

.submit-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0062cc;
}