<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.groupware.sign.model.dao.SignDao">

	<insert id="insertSign">
		insert into
			sign
		values (
			's-' || to_char(sysdate, 'yyyymmdd') || '-' || to_char(seq_sign_no.nextval, 'fm000'),
			#{empId},
			#{deptCode},
			#{jobCode},
			#{type},
			sysdate,
			#{emergency},
			default
		)
		
		<selectKey order="AFTER" resultType="string" keyProperty="no">
			select
				's-' || to_char(sysdate, 'yyyymmdd') || '-' || to_char(seq_sign_no.currval, 'fm000')
			from
				dual
		</selectKey>
	</insert>
	
	<select id="findByMyCreateSignList" resultMap="signMap">
		select
			s.*,
			(select name from emp where emp_id = s.emp_id) name,
			(select dept_title from dept where dept_code = s.dept_code) dept_title,
			(select job_title from job where job_code = s.job_code) job_title,
			ss.no status_no,
			ss.sign_no,
			ss.emp_id status_emp_id,
			ss.sign_order,
			ss.status,
			ss.reg_date status_reg_date,
			(select name from emp where emp_id = ss.emp_id) status_name,
			(select dept_title from dept where dept_code = (select dept_code from emp where emp_id = ss.emp_id)) status_dept_title,
			(select job_title from job where job_code = (select job_code from emp where emp_id = ss.emp_id)) status_job_title
		from
			sign s right join signStatus ss
				on s.no = ss.sign_no
		where
			s.emp_id = #{empId}
	</select>
	<resultMap type="sign" id="signMap">
		<id column="no" property="no"/>
		<result column="emp_id" property="empId"/>
		<result column="dept_code" property="deptCode"/>
		<result column="job_code" property="jobCode"/>
		<result column="type" property="type"/>
		<result column="reg_date" property="regDate"/>
		<result column="emergency" property="emergency"/>
		<result column="complete" property="complete"/>
		<result column="name" property="name"/>
		<result column="dept_title" property="deptTitle"/>
		<result column="job_title" property="jobTitle"/>
		
		<collection property="signStatusList" ofType="SignStatusDetail">
			<id column="status_no" property="no"/>
			<result column="sign_no" property="signNo"/>
			<result column="status_emp_id" property="empId"/>
			<result column="sign_order" property="signOrder"/>
			<result column="status" property="status"/>
			<result column="status_reg_date" property="regDate"/>
			<result column="status_name" property="name"/>
			<result column="status_dept_title" property="deptTitle"/>
			<result column="status_job_title" property="jobTitle"/>
		</collection>
	</resultMap>
	
	
	<select id="findByNoSign" resultMap="signMap">
		select
			s.*,
			(select name from emp where emp_id = s.emp_id) name,
			(select dept_title from dept where dept_code = s.dept_code) dept_title,
			(select job_title from job where job_code = s.job_code) job_title,
			ss.no status_no,
			ss.sign_no,
			ss.emp_id status_emp_id,
			ss.sign_order,
			ss.status,
			ss.reg_date status_reg_date,
			(select name from emp where emp_id = ss.emp_id) status_name,
			(select dept_title from dept where dept_code = (select dept_code from emp where emp_id = ss.emp_id)) status_dept_title,
			(select job_title from job where job_code = (select job_code from emp where emp_id = ss.emp_id)) status_job_title
		from
			sign s right join signStatus ss
				on s.no = ss.sign_no
		where
			s.no = #{no}
	</select>
	
	
	<select id="findByMySignList" resultMap="signMap">
		select
			s.*,
			(select name from emp where emp_id = s.emp_id) name,
			(select dept_title from dept where dept_code = s.dept_code) dept_title,
			(select job_title from job where job_code = s.job_code) job_title,
			ss.no status_no,
			ss.sign_no,
			ss.emp_id status_emp_id,
			ss.sign_order,
			ss.status,
			ss.reg_date status_reg_date,
			(select name from emp where emp_id = ss.emp_id) status_name,
			(select dept_title from dept where dept_code = (select dept_code from emp where emp_id = ss.emp_id)) status_dept_title,
			(select job_title from job where job_code = (select job_code from emp where emp_id = ss.emp_id)) status_job_title
		from
			sign s right join signStatus ss
				on s.no = ss.sign_no
		where
			ss.emp_id = #{empId}
	</select>
	
</mapper>