@charset "UTF-8";

.wrap_board {
	
}

.wrap_board ul {
	list-style: none;
	list-style: none;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
}

.todo-li {
	position :relative;
	min-width: 200px;
	width: 20%;
	height: 96px;
	border: 1px solid rgb(227, 227, 227);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 14px;
	margin-right: 30px;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	transition-duration: .3s;
	font-size: 14px;
}

.todo-li:hover {
	box-shadow: 0 5px 5px -5px #333;
	transform: translate(0, -2px);;
}

.todo-top {
	display: flex;
	justify-content: space-between;
}
.todo-top p{
line-height: 0.6;
}

.todo-top a {
	text-decoration: none;
	color: black;
}

.todo-bottom {
	display: flex;
}

.board-info {
	color: rgb(104, 104, 104);
}

.newboard {
	display: flex;
	align-items: center;
	justify-content: center;
}

.todo-input {
	height: 20px;
	margin: 0px;
}

.todo-btn {
	border: solid gray 1px;
	padding: 0px;
	border-radius: 0px;
	width: 59px;
	height: 20px;
	margin-top: 5px;
	background-color: white;
	color: black;
}

.todo-btn:hover {
	background-color: #00b6c2;
}
.removeView{
	display : none;
}
/* 게시판 보드 모달 */
.board-menu {
	position : relative;
	cursor: pointer;
}
.board-menu-modal{
    position: absolute;
    transform: translate(0,-10px);
    border: 1px solid #dddddd;
    width: 241px;
    height: 218px; 
    background-color: white;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.board-menu-modal:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.board-menu-modal div {
    font-size: 20px;
    line-height: 2.7;
    text-rendering: optimizeLegibility;
    margin-bottom: 0px;
    
}
.modalList:hover {
	color : white;
	background-color: #00b6c2;
}
.modalTitle{
	text-align: center;
	color: #c3c3c3;;
}
.removeView{
	display:none;
}

/* 게시판 보드 모달 */
/* 북마크  위치조정 */
.test{
	position:relative;
}
.bookMark{
    position: absolute;
    right: 36px;
    top: 32px;
}
.content-span{
	width: 90%;
}
}