@charset "UTF-8";

.navigation ul li a .icon i {
    position: relative;
    font-size: 1.7em;
    z-index: 1;
    margin-left: 15px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    font-weight: bold;
    font-size : 1.1em;
    margin-left: 10px;
}


.wrap_board ul {
	list-style: none;
	list-style: none;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
}

.todo-li {
	min-width: 300px;
	width: 20%;
	min-height: 96px;
	height: 100%;
	border: 1px solid rgb(227, 227, 227);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 6px;
	margin-right: 15px;
	margin-top: 20px;
	transition-duration: .3s;
	font-size: 15px;
	background-color: #d4e8ff;
}

.board-info {
	color: rgb(104, 104, 104);
}

.board-list {
	background-color: white;
	padding-left: 7px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	width: 90%;
    margin-left: 5%;
}

.top-list {
	height: 50px;
	display: flex;
	align-items: center;
}

.new-board-list {
	margin-top: 20px;
	margin-bottom: 10px;
	height: 50px;
	border: 1px dashed gray;
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.todo-div ul {
	cursor: auto;
}

.wrap-todo-detail {
	margin: 20px;
}

.todo-header {
	display: flex;
	justify-content: flex-start;
	width: 90%;
}

.explain-div {
	margin-left: 50px;
	height: 20%;
	min-height: 100px;
}

.explain-div p:hover {
	background-color: #D6D9E0;
	cursor: pointer;
}

.todo-content ul {
	margin-bottom: 50px;
}

.attach-div {
	height: 100px;
    width: 100%;
    border: 2px dashed rgba(128, 128, 128, 0.336);
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-div {
	display: flex;
	align-items: center;
	margin-top :17px;
}

.comment-div input {
	margin-left: 30px;
	margin-top: 12px;
	width: 90%;
	height: 30px;
	border: 1px solid white;
}

.todo-title {
	padding-left: 10px;
	color: gray;
}

.comment-btn {
	border: solid gray 1px;
    padding: 0px;
    border-radius: 7px;
    width: 50px;
    height: 25px;
    margin-top: 17px;
    background-color: white;
    color: black;
    transform: translate(0, -11px);
    font-size: 14px;
    position: relative;
}
.comment-btn:hover{
	background-color: #c3c3c3;
    color: white;
	
}

.removeView {
	display: none;
}

.addView {
	display: block;
}

.enrollFrm {
	height: 130px;
}

#todoContent {
	cursor: pointer;
	margin-left: 10px;
}
/*게시판 모달*/
.board-menu {
	position: relative;
	cursor: pointer;
}

.board-menu-modal {
	position: absolute;
	transform: translate(0, -10px);
	border: 1px solid #dddddd;
	width: 241px;
	height: 218px;
	background-color: white;
	z-index: 2;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.board-menu-modal:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

.board-menu-modal div {
	font-size: 20px;
	line-height: 2.7;
	text-rendering: optimizeLegibility;
	margin-bottom: 0px;
}

.modalList:hover {
	color: white;
	background-color: #00b6c2;
}

.modalTitle {
	text-align: center;
	color: #c3c3c3;;
}
.todocontent-span{
	
    height: 60px;
    font-size: small;
    width: 97%;
    margin-left: 1px;
    /* background-color: #367cb8; */
    color: black;
    padding-top: 11px;
}
.modal-btn{
    position: absolute;
    transform: translate(668px, -48px);
    height: 24px;
    width: 36px;
}
.comment-wrapper{
}


input[readonly]{
	background-color: white;
	cursor: auto;
}

/*게시판 모달*/
/*  사원 추가 모달 */
.close-button, .close-button.medium {
	right: 1rem;
    top: 0.5rem;
    font-size: 1em;
    line-height: 1;
}
#image-print{
	width :40%;
}




